[run]
branch = True
omit =
    kamui/application.py
    kamui/boot.py
    kamui/configuration/*
    kamui/dataproviders/*
    kamui/entrypoints/*
    kamui/core/entity/*

[report]
exclude_lines =
    @abstractmethod

[html]
directory = kamui_coverage
title = Kamui Coverage Report