[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
flask = "*"
flask-restful = "*"
punq = "*"
sqlalchemy = "*"
flask-wtf = "*"
psycopg2-binary = "*"
httpx = "*"
orjson = "*"
dataclasses-json = "*"
flask-cors = "*"
returns = "*"

[requires]
python_version = "3.7"
