{% extends "layout.html" %}

{% block header_js_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
{% endblock %}

{% block general_js_scripts %}
    <script src="https://kamui-static.s3.us-east-2.amazonaws.com/modules/select2/dist/js/select2.full.min.js"></script>
{% endblock %}

{% block general_css_files %}
    <link rel="stylesheet" href="https://kamui-static.s3.us-east-2.amazonaws.com/modules/select2/dist/css/select2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-steps@1.1.0/demo/css/jquery.steps.css">
{% endblock %}

{% block custom_style %}
    .wizard > .content {
        background: #fff;
    }

    .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
        ox-shadow: 0 2px 6px #acb5f6;
        background-color: #6777ef;
        border-color: #6777ef;
    }

    #wizard-p-0 > div:nth-child(3) > div > span > span.selection > span > ul > li > input {
        border: 0px;
    }

    #wizard-p-1 > div > div > span > span.selection > span > ul > li > input {
        border: 0px;
    }
{% endblock %}

{% block main_content %}
    <script>
        {## TODO: Removes the necessite of "IS_ASYNC_STEP" variable #}
        let IS_ASYNC_STEP = false;
        $(function () {
            $("#wizard").steps({
                headerTag: "h4",
                bodyTag: "div.wizard-pane",
                transitionEffect: "slideLeft",
                enableAllSteps: true,
                transitionEffectSpeed: 300,
                labels: {
                    next: "Next <i class=\"fas fa-arrow-right\"></i>",
                    previous: "<i class=\"fas fa-arrow-left\"></i> Back",
                    finish: "Create Stream"
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    form.validate().settings.ignore = ":disabled,:hidden";
                    if (form.valid()) {
                        if (IS_ASYNC_STEP) {
                            IS_ASYNC_STEP = false;
                            return true;
                        }

                        if (currentIndex === 0) {
                            const topicName = $("#topic option:selected").val();
                            setTopicSchema(topicName, () => changeStepTabsColor(currentIndex, newIndex))
                        } else {
                            changeStepTabsColor(currentIndex, newIndex);
                            return true;
                        }
                    }
                    return false;
                },
                onFinishing: function (event, currentIndex) {
                    const selectFields = $("#wizard").find("#topic_fields").select2("data").map(item => item.text)
                    const topicSchema = JSON.parse(localStorage.getItem("topicSchema"));
                    const desirableFields = topicSchema.fields.filter(item => selectFields.includes(item.name));
                    const payload = {
                        "project_id": $("#project_id").val(),
                        "stream_name": $("#stream_name").val(),
                        "fields": desirableFields,
                        "source_name": $("#topic option:selected").val(),
                        "source_type": "TOPIC"
                    };

                    $.ajax({
                        type: "POST",
                        url: "/api/streams",
                        contentType: "application/json",
                        data: JSON.stringify(payload),
                        error: function (err) {
                            $("#streamCreationFailMessage").empty().append(`Message: ${err.responseJSON.failure_message}<br />Reason: ${err.responseJSON.reason} (${err.responseJSON.failure_due.reason})`);
                            $("#streamCreationFailMessage").append(`<br> Details: ${err.responseJSON.failure_due.attributes.response.message}`);
                            $("#streamCreationFailModal").modal("show");
                        },
                        success: function (response) {
                            $("#streamCreatedSuccessfullyModal").modal("show");
                            window.setTimeout(() => {
                                $(location).attr('href', '/projects/{{ project_id }}')
                            }, 5000);
                        }
                    });

                    return true;
                }
            });

            const form = $("#wizard");
            const streamFields = form.find("#topic_fields");
            streamFields.select2();

            function changeStepTabsColor(currentIndex, newIndex) {
                $(`.wizard-steps > div:nth-child(${++currentIndex})`).removeClass('wizard-step-active');
                $(`.wizard-steps > div:nth-child(${++newIndex})`).addClass('wizard-step-active');
            }

            function cleanSelect2Field(field) {
                field.val(null).trigger("change");
                field.empty().trigger("change");
            }

            function setTopicSchema(topicName, callback) {
                return $.ajax({
                    type: "GET",
                    url: `/api/topics/${topicName}/schema`,
                    cache: false
                })
                    .then(response => {
                        cleanSelect2Field(streamFields);
                        localStorage.setItem("topicSchema", JSON.stringify(response));

                        response["fields"].forEach(item =>
                            streamFields.append(new Option(item["name"], item["name"]))
                        );
                        streamFields.trigger("change");

                        IS_ASYNC_STEP = true;
                        callback();
                        form.steps("next");
                    })
                    .catch(err => {
                        console.log(err);
                        $("#getTopicSchemaFailMessage").empty().append(`Message: ${err.responseJSON.failure_due.attributes.response.message}<br />Reason: ${err.responseJSON.reason} (${err.responseJSON.failure_due.reason})`);
                        $("#topicSchemaNotFoundModal").modal("show");
                    });
            }

            // Remove Jquery-Steps default header
            $('div.steps').attr('hidden', 'true')
        })
    </script>

    <!-- MODALS - BEGIN -->

    <!-- TOPIC SCHEMA NOT FOUND -->
    <div class="modal fade" id="topicSchemaNotFoundModal" tabindex="-1" role="dialog"
         aria-labelledby="topicSchemaNotFoundModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Topic Schema Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="empty-state">
                        <div class="empty-state-icon bg-danger">
                            <i class="fas fa-times"></i>
                        </div>
                        <h2>Something wrong happened when getting topic schema!</h2>
                        <p id="getTopicSchemaFailMessage" class="lead">
                            Reason:
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CREATE STREAM - SUCCESS -->
    <div class="modal fade" id="streamCreatedSuccessfullyModal" tabindex="-1" role="dialog"
         aria-labelledby="streamCreatedSuccessfullyModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Stream Created</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="empty-state">
                        <div class="empty-state-icon bg-primary">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <h2>Stream was created successfully!</h2>
                        <p class="lead">
                            You'll be redirect...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CREATE STREAM - FAIL -->
    <div class="modal fade" id="streamCreationFailModal" tabindex="-1" role="dialog"
         aria-labelledby="streamCreationFailModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Fail Stream Creation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="empty-state">
                        <div class="empty-state-icon bg-danger">
                            <i class="fas fa-times"></i>
                        </div>
                        <h2>Something wrong happened when we creating your Stream!</h2>
                        <p id="streamCreationFailMessage" class="lead">
                            Reason:
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODALS - END -->

    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a href="{{ url_for('web_project.web_get_project_details_page', project_id=project_id) }}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
            <h1>Create New Stream from Topic</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active">Stream</div>
                <div class="breadcrumb-item">Streams</div>
                <div class="breadcrumb-item">Create New Stream</div>
            </div>
        </div>
        <div class="section-body">
            <h2 class="section-title">Create New Stream</h2>
            <p class="section-lead">
                On this page you can create a new stream
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Create New App</h4>
                        </div>

                        <div class="card-body">
                            {% if form is defined %}
                                <form method="POST" id="wizard">
                                    <div class="row mt-4">
                                        <div class="col-12 col-lg-8 offset-lg-2">
                                            <div class="wizard-steps">
                                                <div class="wizard-step wizard-step-active">
                                                    <div class="wizard-step-icon">
                                                        <i class="fas fa-flask"></i>
                                                    </div>
                                                    <div class="wizard-step-label">
                                                        Stream Name & Topic
                                                    </div>
                                                </div>
                                                <div class="wizard-step">
                                                    <div class="wizard-step-icon">
                                                        <i class="fas fa-list"></i>
                                                    </div>
                                                    <div class="wizard-step-label">
                                                        Stream Schema
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form.csrf_token }}

                                    <!-- STEP - STREAM NAME & TOPIC -->
                                    <h4></h4>
                                    <div class="wizard-pane">
                                        <div class="form-group  row align-items-center">
                                            <label class="col-md-4 text-md-right text-left">Project ID</label>
                                            <div class="col-lg-4 col-md-6">
                                                <input id="project_id" type="text" class="form-control form-control-plaintext" readonly=""
                                                       value="{{ project_id }}">
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-md-4 text-md-right text-left">{{ form.stream_name.label }}</label>
                                            <div class="col-lg-4 col-md-6">
                                                <input id="{{ form.stream_name.id }}" type="text"
                                                       name="{{ form.stream_name.name }}" class="form-control required"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-md-4 text-md-right text-left">{{ form.topic.label }}</label>
                                            <div class="col-lg-4 col-md-6">
                                                <select id="{{ form.topic.id }}" name="{{ form.topic.name }}"
                                                        class="form-control">
                                                    {% for choice in form.topic.choices %}
                                                        <option value="{{ choice[0] }}">{{ choice[1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- STEP - STREAM SCHEMA -->
                                    <h4></h4>
                                    <div class="wizard-pane">
                                        <div class="form-group row align-items-center">
                                            <label class="col-md-4 text-md-right text-left">{{ form.topic_fields.label }}</label>
                                            <div class="col-lg-4 col-md-6">
                                                <select id="{{ form.topic_fields.id }}" multiple
                                                        name="{{ form.topic_fields.name }}" class="form-control select2"
                                                        style="width: 100%">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <div class="empty-state" data-height="400" style="height: 400px;">
                                    <div class="empty-state-icon bg-danger">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <h2>{{ error.failure_message }}</h2>
                                    <p class="lead">
                                        {{ error.reason }} <br/>
                                        {{ error.failure_due.reason }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}