{% extends "layout.html" %}
{% set is_added_streams_page = True %}
{% block main_content %}
<section class="section">
    <div class="section-header">
        <h1>Streams</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active">Streams</div>
        </div>
    </div>
    <div class="section-body">
        <h2 class="section-title">Streams</h2>
        <p class="section-lead">
            You can see all stream that was add to some project
        </p>

        <div class="row mt-4">
            {% if streams %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>All Streams</h4>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3"></div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Source Type</th>
                                    <th>Source Name</th>
                                    <th>Action</th>
                                </tr>
                                {% for stream in streams %}
                                <tr>
                                    <td>{{ stream.stream_id }}</td>
                                    <td>{{ stream.name }}</td>
                                    <td>{{ stream.source_type.value }}</td>
                                    <td>{{ stream.source_name }}</td>
                                    <td><a href="#" class="btn btn-secondary">Detail</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>All Streams</h4>
                    </div>
                    <div class="card-body">
                        <div class="empty-state" data-height="400" style="height: 400px;">
                            <div class="empty-state-icon">
                                <i class="far fa-folder-open"></i>
                            </div>
                            <h2>We couldn't find any stream</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}