{% extends "root.html" %}
{% block body %}
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
            <ul class="navbar-nav mr-3">
                <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
            </ul>
            </form>
            <ul class="navbar-nav navbar-right">
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="https://kamui-static.s3.us-east-2.amazonaws.com/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                <div class="d-sm-none d-lg-inline-block">Hi, Guest</div></a>
                <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-title">Logged in 5 min ago</div>
                <a href="#" class="dropdown-item has-icon">
                    <i class="far fa-user"></i> Profile
                </a>
                <a href="#" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i> Settings
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                </div>
            </li>
            </ul>
        </nav>
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a href="/home">KAMUI</a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
                <a href="/home"><i class="fas fa-stream"></i></a>
            </div>
            <ul class="sidebar-menu">
                <li class="menu-header">Stream</li>
                <li {% if is_projects_page %}class="active"{% endif %}><a class="nav-link active" href="/projects"><i class="fas fa-project-diagram"></i> <span>Projects</span></a></li>
                <li class="dropdown {% if is_added_streams_page %}active{% endif %}">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fab fa-hubspot"></i><span>Streams</span></a>
                    <ul class="dropdown-menu">
                        <li {% if is_added_streams_page %}class="active"{% endif %}><a class="nav-link" href="{{ url_for('web_stream.web_get_streams_page') }}">Streams</a></li>
                    </ul>
                </li>
            </ul>

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                <a href="https://github.com/phakiller/kamui" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fab fa-github-alt"></i> GitHub
                </a>
            </div>
            </aside>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            {% block main_content %}{% endblock %}
        </div>
        
        <footer class="main-footer">
            <div class="footer-left">
            Copyright &copy; 2020
            </div>
            <div class="footer-right">
            
            </div>
        </footer>
    </div>
</div>
{% endblock %}