<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Kamui</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://kamui-static.s3.us-east-2.amazonaws.com/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://kamui-static.s3.us-east-2.amazonaws.com/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="https://kamui-static.s3.us-east-2.amazonaws.com/css/style.css">
  <link rel="stylesheet" href="https://kamui-static.s3.us-east-2.amazonaws.com/css/components.css">
</head>

<body>
  {% block body %}{% endblock %}

  <!-- General JS Scripts -->
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/modules/jquery.min.js"></script>
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/modules/popper.js"></script>
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/modules/tooltip.js"></script>
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/modules/moment.min.js"></script>
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/js/stisla.js"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/js/scripts.js"></script>
  <script src="https://kamui-static.s3.us-east-2.amazonaws.com/js/custom.js"></script>
</body>
</html>